html
{
    background: #1e1a20;
}


body
{
    background-color: transparent !important;    
}



.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;    
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    
    
    text-transform: uppercase;
    /* 7vmin */
    /* font-size: 1vmin;  */
    padding-left: 10%;
    padding-right: 10%;    
    
}


section:nth-child(odd)
{
    justify-content: flex-end;
}


#topContainer
{
    /* layout */
    height:100vh;      
    position: relative;    

    /* font */
    /* font-family: 'Cabin', sans-serif;     */
    /* color: #ffeded; */
    text-shadow: 2px 2px 4px #000;    
}


#mainRow
{
    /* layout */
    max-width: 1280px;  
    padding-left: 6rem;
    padding-right: 6rem;    
    
}


#leftCol
{
    /* special gap */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


#rightCol
{
    /* special gap */
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.projectRow
{
    width: 100%;
    margin: 0;
    gap: 0;
}


.innerContainer
{
    /* layout */
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 100%;    
}


#iconList
{
    margin-top: 2rem;
}


.project
{
    width: 100%;
    height: fit-content;     
}


#projects
{
    /* temporary just to get a feel */
    padding-top:10.25rem;  
}


img
{
    max-width: 100%;
    border-radius: .25rem;
    border-width: 2px;
    border-color: rgba(226,232,240,.1);    
    border-style: solid;    
    margin-right: 1rem;
    display: block;
}


.projectArrow
{
    width: 1rem;
    height: 1rem;
    margin-left: -0.25rem;
}


.font-sans 
{
    font-family: 'Inter', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings:"ss03","cv02","cv11";


    /* font test */

    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;     */    
    /* font-feature-settings: "cv02", "cv11", "ss03"; */
}


.font-bold 
{
    font-weight:700
}


.bg-teal-400 
{
    background-color:rgba(45,212,191,.1);
}


.rounded-full 
{
    border-radius:9999px;
}


.items-center 
{
    align-items:center;
}


.flex 
{
    display:flex;
}


.block 
{
    display:block;
}


.text-xs 
{
    font-size:.75rem;
    line-height:1rem;
}


.text-5xl
{
    font-size: 3rem;
    line-height: 1; 
}


.tracking-tight
{
    letter-spacing: -0.025em;
}


.text-slate-200
{
    color: rgb(226 232 240);
}


menu, ol, ul 
{
  list-style:none;
  margin:0;
  padding:0
}


a 
{
    color:inherit;
    text-decoration:inherit
}


.hoverableListItem:hover
{
    color:rgb(226 232 240);
}

.sr-only 
{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width:0
}


.font-medium 
{
    font-weight: 500;
}


.text-base 
{
    font-size:1rem;
    line-height:1.5rem;    
}


.text-decoration
{
    text-decoration-color: rgb(226, 232, 240);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}


.text-base-size 
{
    font-size:1rem;
    /* line-height:0; */
}


.text-teal-300
{    
    color:rgb(94 234 212);
}


.items-baseline 
{
    align-items:baseline;
}


.leading-tight 
{
    line-height:1.25;
}


.leading-5 
{
    line-height:1.25rem;
}


.font-small
{
    font-weight: 400;
}


.text-sm 
{
    font-size:.875rem;
    line-height:1.25rem;
}


.text-xl 
{
    font-size: 1.25rem;
    line-height: 1.75rem;
}


blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre 
{
  margin:0;
}


.text-slate-400 
{    
    color:rgb(148 163 184);
}


.leading-normal 
{
    line-height: 1.5;
}  


.max-w-xs 
{
    max-width: 20rem;
    /* font-size: 1.25rem; */
}


.uppercase 
{
    text-transform:uppercase;
}


.sticky 
{
    position:sticky;
}


.tracking-widest 
{
    letter-spacing:.1em;
}


.text-slate-500 
{    
    color:rgb(100 116 139);
}


.inline-flex 
{
    display:inline-flex;
}


.top-0 
{
    top:0;
}


.section-title
{
    /* display: none; */
}

.section-title-inner
{
    margin-left: 140px;
}

.w-screen 
{
    width:100vw;
}


.youtube-demo-mobile
{
    display: none;
}


.youtube-demo-desktop
{
    display: block;
}


@media only screen and (max-width: 768px)
{
    .innerContainer
    {
        /* layout */
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;    
    }


    #leftCol
    {
        padding-top: 6rem;
    }


    #rightCol
    {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }


    #mainRow
    {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }


    #projects
    {
        /* temporary just to get a feel */
        padding-top:0;  
    }


    .youtube-demo-mobile
    {
        display: block;
    }


    .youtube-demo-desktop
    {
        display: none;
    }  


    img
    {
        /* width: 200px;
        height: 114px; */
        display: none;
    }


    /* .section-title
    {
        display: block;
    } */


    .section-title-inner
    {
        margin-left: 0;
    }
}